body{
    background-color: white;
    color: black;
    padding: 0px !important;
    margin: 0px;
}
html{
    padding: 0px;
    margin: 0px;
}
.posts{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}
.post{
    background-color:  rgba(128, 128, 128, 0.163);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.66);

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.navigation{
    background-color: rgb(8, 8, 10);
    margin: 0 !important;
    padding: 20px;
}
.navigation-list{
    list-style: none;
    display: flex;
    justify-content: space-around;

}
@media ( min-width: 600px){
    .posts{
        grid-template-columns: repeat(auto-fil,mimmax(32rem,1fr));
    }
}